@import "../../styles/vars";

.contact {
  &__info {
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 15px;
        font-size: 2rem;
        @media screen and (max-width: 1600px) {
          font-size: 1.3rem;
        }
        a {
          color: #171717;
          text-decoration: none;
        }
        i {
          color: $main_color;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: #e6e6e6;
          text-align: center;
          line-height: 2;
          font-size: 1.5rem;
          border-radius: 50px;
        }
      }
    }
  }
  ::ng-deep {
    mat-form-field {
      width: 100%;
    }
  }
  &__form {
    button {
      background: $main_color;
    }
  }
}
