<section class="contact" id="contact">
  <div class="container">
    <h2>contact</h2>
    <span class="seperator"> </span>
    <div class="row">
      <div class="col-lg-5 col-md-5 col sm-12 contact__info">
        <ul>
          <li>
            <i class="fa-solid fa-location-dot"></i>
            Jerusalem, Mevo Edmond Peleg
          </li>
          <li>
            <i class="fa-solid fa-envelope-open-text"></i>
            hodaya000041@gmail.com
          </li>
          <li>
            <i class="fa-solid fa-mobile-screen-button"></i>
            <a href="tel:0545770195"> 0545770195</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-7 col-md-7 col sm-12">
        <div class="contact__form">
          <form netlify>
            <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Subject</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Messege</mat-label>
              <input matInput placeholder="lets taik..." required />
            </mat-form-field>
            <button mat-raised-button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
