<section class="about" id="about">
  <div class="container">
    <h2>About</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__image img-container">
          <img
            src="https://picsum.photos/800/800"
            alt="My Image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <P
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            iure, quam vitae cupiditate voluptatum illo.</P
          >
          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm12">
                <ul>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm12">
                <ul>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                  <li>
                    <i class="fa-solid fa-chevron-right"></i> Lorem, ipsum
                    dolor.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat est
            sunt error magnam adipisci libero id, quis nam! Non voluptatem
            molestias voluptates aut illum, temporibus quidem tempore, nobis
            quod ducimus magni, corrupti labore reprehenderit deserunt dolore
            cum hic. Molestias, incidunt rerum aliquam voluptatum quas vero? Nam
            enim quibusdam corrupti itaque.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
