<section class="protfolio" id="portfolio">
  <div class="container">
    <h2>Protfolio</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="protfolio__item">
          <img
            class="img-fluid"
            src="https://picsum.photos/400/400"
            alt="project image"
          />
          <div class="protfolio__item-content">
            <h3>Project title</h3>
            <i calss="protfolio__item-desc">project description</i>
            <a mat-fab>
              <i class="fa-solid fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="protfolio__item">
          <img
            class="img-fluid"
            src="https://picsum.photos/400/400"
            alt="project image"
          />
          <div class="protfolio__item-content">
            <h3>Project title</h3>
            <i calss="protfolio__item-desc">project description</i>
            <a mat-fab>
              <i class="fa-solid fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="protfolio__item">
          <img
            class="img-fluid"
            src="https://picsum.photos/400/400"
            alt="project image"
          />
          <div class="protfolio__item-content">
            <h3>Project title</h3>
            <i calss="protfolio__item-desc">project description</i>
            <a mat-fab>
              <i class="fa-solid fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="protfolio__item">
          <img
            class="img-fluid"
            src="https://picsum.photos/400/400"
            alt="project image"
          />
          <div class="protfolio__item-content">
            <h3>Project title</h3>
            <i calss="protfolio__item-desc">project description</i>
            <a mat-fab>
              <i class="fa-solid fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
