<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>Skills</h2>
      <span class="seperator"></span>

      <ul class="d-flex">
        <li>
          <i class="devicon-angularjs-plain"></i>
        </li>
        <li>
          <i class="devicon-react-original"></i>
        </li>
        <li>
          <i class="devicon-firebase-plain"></i>
        </li>
        <li>
          <i class="devicon-github-original"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="resume__details">
    <div class="container">
      <h2>Resume</h2>
      <span class="seperator"></span>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quisquam,
        suscipit nesciunt aperiam rerum expedita. Adipisci libero nobis quidem
        suscipit consectetur quibusdam et, iusto numquam.
      </p>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Summery</h2>
          <div class="resume__resume-item">
            <h3>Hodaya Zackay</h3>
            <i
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
              veniam atque neque, esse rerum sit.</i
            >
            <ul>
              <li>Email: hodaya000041@gmail.com</li>
              <li>Phone: 0545770195</li>
              <li>Date of Birth: 1992</li>
              <li>Adress: jerusalem</li>
            </ul>
          </div>
          <h2>Education</h2>
          <div class="resume__resume-item">
            <h3>Fullstack studies</h3>
            <i
              >High-level full-stack studies at a "guerrilla" code and digital
              school that includes in-depth use of the client-side</i
            >
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Summery</h2>
          <div class="resume__resume-item">
            <h3>Hodaya Zackay</h3>
            <i>dfgggggfdfddrrrrrrr</i>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est,
                nesciunt quo saepe officiis esse ducimus nulla perspiciatis
                cumque hic possimus consectetur a temporibus sint excepturi.
              </li>
              <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Perspiciatis, nisi dicta impedit laborum natus distinctio
                obcaecati nostrum! Magnam deleniti in laborum, pariatur fugiat
                officiis? Inventore.
              </li>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Quaerat nemo, perferendis libero ducimus iusto quisquam
                repellendus, ipsa, aspernatur dolores aperiam quibusdam cum
                vitae consequatur exercitationem.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus neque nostrum, repellat explicabo odit recusandae
                omnis praesentium ut consectetur similique quidem vitae cum illo
                aspernatur.
              </li>
              <li>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                eveniet earum, quod consequuntur enim, molestias est similique
                eaque voluptates excepturi sunt dolores natus, minus veritatis.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
